.add-to-favorites {
    display: inline-block;
    min-width: 25px;
    border-style: solid;
    color: navy;
    background-color: lawngreen;
    border-width: 1px;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}