.pos-rel {
    position: relative;
}

.auto-complete-dropdown {
    position: absolute;
    z-index: 1;
    width: 220px;
    max-height: 300px;
    background: #F6F6F6;
    overflow-y: auto;
}

.city {
    padding: 10px;
    font-family: sans-serif;
    color: #A550BC;
}

.city:hover {
    color: ivory;
    background: #C2C2C2;
}