.collection-style {
    min-width: 400px;
    min-height: 500px;
    float: left;
}

.stack-container {
    position: absolute;
}

.remove-from-favorites {
    display: inline-block;
    min-width: 25px;
    border-style: solid;
    border-width: 1px;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    margin: 15px;
}

.favorite-entry {
    margin-bottom: 10px;
}